<div class="header">
    <p-dropdown
        [options]="stations"
        [(ngModel)]="selectedStation"
        optionLabel="name"
        (onChange)="onChange($event)"
        [checkmark]="false"
        dropdownIcon="pi pi-map-marker"
    />
    <p-calendar
        [inline]="false"
        [touchUI]="true"
        [showIcon]="true"
        selectionMode="range"
        iconDisplay="input"
        [showButtonBar]="false"
        [(ngModel)]="calendarDate"
        (onSelect)="onSelectDate($event)"
        dateFormat="yy/mm/dd"
    />
</div>
<div class="content">
    <div
        class="chart"
        echarts
        #chart
        (chartInit)="onChartInit($event)"
        [options]="echartOptions"
        [initOpts]="echartInitOptions"
    ></div>
    <div
        class="source"
    >
        <span>The tidal data from the <a href="https://www.jma.go.jp/jma/index.html">JMA</a>.</span>
    </div>
</div>
<div class="footer">
</div>