/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html {
    font-size: 12px;
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
}
